/* You can add global styles to this file, and also import other style files */

:root {
  --white: #FFF;
  --danger: #a11707;
  --lighter-green: #19976a;
  --darker-green: #125c42;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
* {
  mat-tab-group { margin: 2rem; }
  mat-card-title { font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; }
  mat-card-subtitle { font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; }
}

html, body { height: 100%; }

body {
  margin: 0;
  background-color: #0b0d0fe6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  width: 98vw;
  height: 15vh;
  display: flex;
  margin-top: 1vh;
  margin-left: .65vw;
  flex-direction: row;
  border-radius: 1.5rem;
  justify-content: space-between;
  background-color: var(--lighter-green);
}

.header-title {
  display: flex;
  color: var(--white);
  font-size: 40px !important;
  margin-left: 2rem !important;
  margin-top: 1.5rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.header-button {
  display: flex;
  font-size: 20px !important;
  margin-top: 1.5rem !important;
  margin-right: 2rem !important;
  color: var(--white) !important;
  background-color: var(--darker-green) !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.todo-form-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.todo-form-title {
  color: var(--white);
  font-size: 30px !important;
  margin-top: 1rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.todo-form-actions {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.todo-form-input { width: 90% !important; }
.todo-form-delete-button { background-color: var(--danger) !important; }
.todo-form-sucess-button { background-color: var(--darker-green) !important; }

.todo-card {
  width: 80%;
  margin: 1rem auto;
  border-radius: 1.8rem !important;
  background-color: var(--lighter-green) !important;
}

.todo-card-title {
  font-size: 25px !important;
  color: var(--white) !important;
}

.todo-card-subtitle {
  font-size: 18px !important;
  margin-top: 2rem !important;
}

.check-button {
  width: 50px !important;
  margin-bottom: 1rem !important;
}

.warn-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px !important;
  margin-top: 1.5rem !important;
  color: var(--lighter-green) !important;
}
